@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5 block rounded-lg bg-pink-500/20 shadow-md;
}

.primary-button {
  @apply rounded bg-pink-500 text-white py-2 px-4 shadow outline-none hover:bg-pink-400;
}

.default-button {
  @apply rounded bg-gray-100 text-black py-2 px-4 shadow outline-none hover:bg-gray-200;
}
